@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");

html {
  font-family: "Quicksand", sans-serif;
}

html, body, #main {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#main {
  border-radius: 1em;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputs-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 8vw;
}

input {
  border-width: 0;
  font-size: 30vw;
  width: 40vw;
  display: inline-block;
  caret-color: #9e32d6;
  border-radius: 5vw;
  background-color: #f2f2f2;
  
}

.time-label {
  font-size: 20vw;
}

input:hover, input:focus {
  background-color: #f2f2f2;
}

input:disabled {
  background-color: initial;
}

.buttons-group {
  margin-top: 2vw;
  text-align: center;
  display: flex;
  
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4vw;
}

button {
  background-color: #9e32d6;
  color: #fff;
  border-radius: 4vw;
  padding: 2vw 4vw;
  border-width: 0px;
  cursor: pointer;
  font-size: 10vw;
  flex: 1;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.button--start {
  background-color: #4bb958;
}

.button--reset {
  background-color: #ffb136;
}
